<div id="loginContainer" style="display: none;">
    <div id="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton">
            <div id="loginCancelIcon">X</div>
            <span id="loginCancelText"><%- lang('login.loginCancelText') %></span>
        </button>
    </div>
    <div id="loginContent">
        <form id="loginForm">
            <img id="loginImageSeal" src="assets/images/SealCircle.png"/>
            <span id="loginSubheader"><%- lang('login.loginSubheader') %></span>

            <!-- Campo de usuario -->
            <div class="loginFieldContainer">
                <span class="loginErrorSpan" id="loginEmailError"><%- lang('login.loginEmailError') %></span>
                <input id="loginUsername" class="loginField" type="text" placeholder="<%- lang('login.loginEmailPlaceholder') %>"/>
            </div>

            <!-- Sección de contraseña oculta -->
            <div class="loginFieldContainer" style="display: none;">
                <span class="loginErrorSpan" id="loginPasswordError"></span>
                <input id="loginPassword" class="loginField" type="password" placeholder="<%- lang('login.loginPasswordPlaceholder') %>"/>
            </div>

            <!-- Opciones de "Recuérdame" ocultas -->
            <div id="loginOptions" style="display: none;">
                <label id="checkmarkContainer">
                    <input id="loginRememberOption" type="checkbox" checked>
                    <span id="loginRememberText" class="loginSpanDim"><%- lang('login.loginRememberMeText') %></span>
                    <span class="loginCheckmark"></span>
                </label>
            </div>

            <!-- Botón de inicio de sesión -->
            <button id="loginButton" disabled>
                <div id="loginButtonContent">
                    <%- lang('login.loginButtonText') %>
                    <svg id="loginSVG" viewBox="0 0 24.87 13.97">
                        <defs>
                            <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                        </defs>
                        <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                    </svg>
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                    </div>
                </div>
            </button>

            <!-- Enlaces adicionales -->
            <div id="loginDisclaimer">
                <span class="loginSpanDim" id="loginRegisterSpan">
                    <a href="<%- lang('login.loginNeedAccountLink') %>"><%- lang('login.loginNeedAccountText') %></a>
                </span>
            </div>
        </form>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>
